<div class="sidenav">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list routerLinkActive="active">
        <a mat-list-item *ngFor="let link of links" [routerLink]="[link.url]">
          {{ link.name }}</a
        >
      </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >menu</mat-icon
        >
      </button>
    </div>
  </mat-drawer-container>
</div>

<form [formGroup]="listTasks">
  <div
    formArrayName="tasks"
    *ngFor="let taskControl of listTasks.controls.tasks.value; let i = index"
    class="item-listTasks"
  >
    <p>Task {{ i + 1 }}</p>

    <section>
      <mat-checkbox></mat-checkbox>
    </section>

    <mat-form-field class="input-item" appearance="fill">
      <mat-label>New task</mat-label>
      <input matInput formControlName="{{ i }}" />
    </mat-form-field>

    <button (click)="removeTask(i)" mat-mini-fab color="warn">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
<button (click)="addTask()" class="button_add" mat-mini-fab color="primary">
  <mat-icon>add_circle</mat-icon>
</button>
