.item-listTasks {
  display: flex;
  width: 900px;
  padding-left: 200px;
  height: 70px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.input-item {
  width: 700px;
}
p {
  margin: 0;
}
.example-container {
  position: fixed;
  width: 300px;
  height: 800px;
  background-color: #fff;
}

.example-sidenav-content {
  height: 50px;
  justify-content: start;
}

.example-sidenav {
  padding: 20px;
}
.button_add {
  display: block;
  margin-left: 50%;
  position: center;
}
